<template>
  <div class="border rounded-sm ">
    <div v-if="!isOpen">
      <button class="w-full" @click="isOpen = !isOpen">
        <slot name="trigger"></slot>
      </button>
    </div>
    <div v-if="isOpen">
      <slot :toggle="toggle" v-bind:swag="isOpen" name="content"></slot>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  data() {
    return {
      isOpen: false
    };
  },
  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
    }
  }
});
</script>

<style></style>
