<template>
  <modal classes="p-6 bg-white" name="field-form"
    ><form @submit.prevent="addField">
      <MenuHeader class="pb-4">Add field</MenuHeader>
      <div class="space-y-2">
        <TextInput label="Type" @input="onUpdate($event, 'type')" />
        <TextInput label="Content" @input="onUpdate($event, 'content')" />
      </div>
      <button type="button" class="font-medium mt-4" @click="closeModal">
        <i class="fas fa-times pr-2"></i>Cancel
      </button>
      <PrimaryButton class="mt-4 text-right float-right" type="submit"
        >Save field</PrimaryButton
      >
    </form></modal
  >
</template>

<script lang="ts">
import Vue from "vue";
import { ADD_FIELD } from "~/store/mutations-constants";
export default Vue.extend({
  data() {
    return {
      form: { type: "", content: "" }
    };
  },
  methods: {
    addField() {
      this.$store.commit(`personal/${ADD_FIELD}`, {
        type: this.form.type,
        content: this.form.content
      });
      this.closeModal();
    },
    onUpdate(value: string, key: string): void {
      (this.form as any)[key] = value;
    },

    closeModal(): void {
      this.$modal.hide("field-form");
    }
  }
});
</script>

<style></style>
