<template>
  <div>
    <component
      :is="inputComponent"
      :value="value"
      :label="label"
      @input="onUpdate"
    />
  </div>
</template>

<script>
import TextInput from "@/components/TextInput.vue";
import TextareaInput from "@/components/TextareaInput.vue";
export default {
  components: {
    TextInput,
    TextareaInput
  },

  props: {
    value: String,
    label: String,
    type: String
  },
  methods: {
    onUpdate($event) {
      this.$emit("input", $event);
    }
  },
  computed: {
    inputComponent() {
      switch (this.type) {
        case "text":
          return TextInput;
        case "textarea":
          return TextareaInput;
      }
    }
  }
};
</script>

<style></style>
