<template>
  <div class="  overflow-visible  ">
    <div class="template overflow-visible m-auto shadow-lg" id="template-wrapper">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.template {
  height: calc(297mm);
  min-width: 210mm;
  max-width:210mm;
  background-color: white;
}
</style>
