<template>
  <div>
    <MenuHeader>Source code</MenuHeader>
    <MenuDescription>The source code of this application</MenuDescription>
    <a
      href="https://gitlab.com/aadvdh/resume-builder-nuxt"
      class="underline"
      target="_blank"
      >Gitlab repo</a
    >
  </div>
</template>

<script>
export default {};
</script>

<style></style>
